@{
    ViewData["Title"] = "Прогноз Погоды";
}
<html>
<head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/MainTheme.css" asp-append-version="true">
<link rel="stylesheet" href="~/WeatherApp.styles.css" asp-append-version="true" />
</head>
<body>
<div class="text-center">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Какая сегодня погода в ..." aria-label="Search" aria-describedby="search-addon" id="searchInput" />
        
        <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init onclick="SuggestLocations()">Поиск</button>
    </div>
    <ul class="list-group list-group-horizontal-lg" id="locationslist">
    </ul>

        <section class="vh-100" >
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-top h-100">
                    <div class="col-md-10 col-lg-8 col-xl-6">

                        <div class="card bg-dark text-white" style="border-radius: 40px;">
                            @* <div class="bg-image" style="border-radius: 35px;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp"
                                     class="card-img" alt="weather" />
                                <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
                            </div> *@
                            <div class="card-img-overlay text-dark p-5">
                                <h4 class="mb-0">Juneau, Alaska, US</h4>
                                <p class="display-2 my-3">1.28°C</p>
                                <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
                                <h5>Snowy</h5>
                                <ul class="list-group list-group-horizontal-lg justify-content-center" id="locationslist">
                                    <li class="list-group-item">
                                        <img src="https://i.imgur.com/B9kqOzp.png" height="17px">

                                        <span> 40 km/h  </span>
                                    </li>
                                    <li class="list-group-item">
                                        <img src="~/Resources/free-icon-humidity-1585362 (1).png" height="17px">
                                        <span> 84% </span>
                                    </li>
                                    <li class="list-group-item">
                                        <img src="https://i.imgur.com/wGSJ8C5.png" height="17px">
                                        <span> 0.2h </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


@* <div class="d-flex">
    <div class="temp-details flex-grow-1">
        <p class="my-1">
            <img src="https://i.imgur.com/B9kqOzp.png" height="17px">

            <span> 40 km/h  </span>
        </p>

        <p class="my-1">
            <i class="fa fa-tint mr-2" aria-hidden="true"></i>
            <span> 84% </span>
        </p>

        <p class="my-1">
            <img src="https://i.imgur.com/wGSJ8C5.png" height="17px">
            <span> 0.2h </span>
        </p>
    </div>

    <div>
        <img src="https://i.imgur.com/Qw7npIg.png" width="100px">
    </div>


</div> *@