@model ForecastModel

@{
    ViewData["Title"] = "Прогноз Погоды";

}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MainTheme.css" asp-append-version="true">
    <link rel="stylesheet" href="~/WeatherApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Какая сегодня погода в ..." aria-label="Search" aria-describedby="search-addon" id="searchInput" />

            <button type="button" class="btn btn-outline-primary" id="searchButton" data-mdb-ripple-init onclick="SuggestLocations()">Поиск</button>
        </div>
        <ul class="list-group list-group-horizontal-lg" id="locationslist">
        </ul>
        <div id="ForecastPartial">
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>