@{
    ViewData["Title"] = "Прогноз Погоды";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewBag.Result</p>
    <p>@ViewBag.FirstUser</p>
    <p>@ViewBag.Location</p>
    <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10" />
</div>
